@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Lora&display=swap');
body {
    background-color: white;
    min-height: 100vh;
    font-family: 'Lora', serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
   
}

#wrapper {
    height: 100vh;
}

.octagon {
    background-image: url("octagon.svg");
    height: 400px; 
    width: 400px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
